<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>logging</title>
</head>
<body ng-controller="Main">
<table>
    Status:
    <label ng-if="intdata.ip">Online </label>
    <label ng-if="!intdata.ip">Offline </label>
    <input type="button" value="Restart server" ng-click="restart()">
    </br>
    Command:<input type="text" style="width:400px" ng-keyup="$event.keyCode == 13 ? run() : null" ng-model = "intdata.command">
    <input type="button" value="Run command" ng-click="run()">
   <table class="wikitable">
<tbody><tr>
<th>Command</th>
<th>Description
</th></tr>
<tr>
<td>addalltowhitelist</td>
<td>Add all the current users who are connected with a password to the whitelist, so their account is protected.
</td></tr>
<tr>
<td>additem</td>
<td>Give an item to a player. If no username is given then you will receive item. Count is optional. Use: /additem \"username\" \"module.item\" count, ex&nbsp;: additem rj Base.Axe 1
</td></tr>
<tr>
<td>adduser</td>
<td>Use this command to add a new user to a whitelisted server. Use: /adduser \"username\" \"pwd\" ex: adduser rj 12345
</td></tr>
<tr>
<td>addusertowhitelist</td>
<td>Add a user connected with a password to the whitelist, so their account is protected. Use: /addusertowhitelist \"username\" ex: addusertowhitelist rj
</td></tr>
<tr>
<td>addvehicle</td>
<td>Spawn a vehicle. Use: /addvehicle \"script\" \"user or x,y,z\", ex: addvehicle Base.VanAmbulance rj
</td></tr>
<tr>
<td>addxp</td>
<td>Give experience points to a player. Use: /addxp \"playername\" perkname=xp, ex: addxp rj Woodwork=2
</td></tr>
<tr>
<td>alarm</td>
<td>Sound a building alarm at the Admin's position. (Must be in a room.)
</td></tr>
<tr>
<td>banid</td>
<td>Ban a SteamID. Use: banid SteamID
</td></tr>
<tr>
<td>banuser</td>
<td>Ban a user. Add a -ip to also ban the IP. Add a -r \"reason\" to specify a reason for the ban. Use: /banuser \"username\" -ip -r \"reason\". For example: banuser rj -ip -r spawn kill
</td></tr>
<tr>
<td>changeoption</td>
<td>Change a server option. Use: /changeoption optionName \"newValue\" ex: changeoption SleepAllowed true
</td></tr>
<tr>
<td>chopper</td>
<td>Place a helicopter event on a random player
</td></tr>
<tr>
<td>createhorde</td>
<td>Spawn a horde near a player. Use&nbsp;: /createhorde count \"username\", ex: createhorde 150 rj, username is optional except from the server console.
</td></tr>
<tr>
<td>createhorde2</td>
<td>Unknown (ERROR: Missing translation "UI_ServerOptionDesc_CreateHorde2")
</td></tr>
<tr>
<td>godmode</td>
<td>Make a player invincible. No username set will toggle self-invincibility. Use: /godmode \"username\" -value, ex godmode rj -true (could be -false)
</td></tr>
<tr>
<td>gunshot</td>
<td>Place gunshot sounds on a random player
</td></tr>
<tr>
<td>help</td>
<td>Outputs a list and description of admin commands
</td></tr>
<tr>
<td>invisible</td>
<td>Make a player invisible to zombies. No username provided will toggle invisibility on yourself. Use: /invisible \"username\" -value, ex: invisible rj -true (could be -false).
</td></tr>
<tr>
<td>kickuser</td>
<td>Kick a user. Add a -r \"reason\" to specify a reason for the kick. Use: /kickuser \"username\" -r \"reason\"
</td></tr>
<tr>
<td>noclip</td>
<td>Makes a player pass through walls and structures. Toggles with no value. Use: /noclip \"username\" -value, ex: noclip rj -true (could be -false)
</td></tr>
<tr>
<td>players</td>
<td>List all connected players
</td></tr>
<tr>
<td>quit</td>
<td>Save and shut down the server
</td></tr>
<tr>
<td>releasesafehouse</td>
<td>Release a safehouse you own. Use: /safehouse release
</td></tr>
<tr>
<td>reloadlua</td>
<td>Reload a Lua script. Use: /reloadlua \"filename\"
</td></tr>
<tr>
<td>reloadoptions</td>
<td>Reload server options (servertest.ini) and send to the clients. Useful for implementing game setting changes while players are connected.
</td></tr>
<tr>
<td>removeuserfromwhitelist</td>
<td>Remove a user from the whitelist. Use: /removeuserfromwhitelist \"username\"
</td></tr>
<tr>
<td>removezombies</td>
<td>Command name self-explanatory, but have not tested. (ERROR: Missing translation "UI_ServerOptionDesc_RemoveZombies")
</td></tr>
<tr>
<td>replay</td>
<td>Record and play replay for moving player. Use: /replay \"playername\" -record\-play\-stop \filename.\ Example: /replay user1 -record test.bin
</td></tr>
<tr>
<td>save</td>
<td>Saves the current game world
</td></tr>
<tr>
<td>sendpulse</td>
<td>Toggle sending server performance info to this client. Use: /sendpulse
</td></tr>
<tr>
<td>servermsg</td>
<td>Broadcast a message to all connected players. Use: /servermsg \"text\"
</td></tr>
<tr>
<td>setaccesslevel</td>
<td>Set access level of a player. Current levels: admin, moderator, overseer, gm, observer. E.g. setaccesslevel userName admin / Note: To remove any access level, use "none" in place of admin.
</td></tr>
<tr>
<td>showoptions</td>
<td>Show the list of current server options and values.
</td></tr>
<tr>
<td>startrain</td>
<td>Start rain on the server
</td></tr>
<tr>
<td>stoprain</td>
<td>Stop rain on the server
</td></tr>
<tr>
<td>teleport</td>
<td>Teleport to a player. Use: /teleport \"playername\" or /teleport \"player1\" \"player2\", ex /teleport \"rj\" or /teleport \"rj\" \"toUser\"
</td></tr>
<tr>
<td>teleportto</td>
<td>Teleport to coordinates. Use: /teleportto x,y,z, ex /teleportto 100098,189980,0
</td></tr>
<tr>
<td>unbanid</td>
<td>Unban a SteamID. Use: /unbanid SteamID
</td></tr>
<tr>
<td>unbanuser</td>
<td>Unban a player. Use&nbsp;: /unbanuser \"username\"
</td></tr>
<tr>
<td>voiceban</td>
<td>Block voice from user \"username\". Use&nbsp;: /voiceban \"username\" -value, ex /voiceban \"rj\" -true (could be -false)
</td></tr></tbody></table> 
</table>
</body>
<script src="angular.min.js"></script>
<script>
    angular.module('app', []).controller('Main', Main)
    Main.$inject = ['$scope','$http','$timeout'];
    function Main($scope,$http,$timeout) {
        $scope.intdata = {
           ip: "",
           command: "",
        };
        $scope.get_hosts = function() {
             $http.get('/status').then(function (response) {
                 $scope.intdata.ip = response.data.status;
             }).finally(function () {$scope.update_hosts(10000);});
        };
        $scope.update_hosts = function (timeout) {
            setTimeout(function(){$scope.get_hosts();},timeout);
        };
        $scope.update_hosts(500);

        $scope.restart = function() {
            $http.post('/do_action').then(function (response) {
                $scope.get_hosts();
            });
        }; 
        $scope.run = function() {
		$http({method: 'POST', url: '/run_cmd', data: $scope.intdata.command}).then(function (response) {
                $scope.get_hosts();
	    	$scope.intdata.command = "";
            });
        }; 
    };
</script>
</html>
